<h1> Searching for - <%= @search_term %></h1>

/*Condition if no recipes are found */
<% if (@recipes.nil? or @recipes == []) %>
<p> <h2>No recipes found</h2></p>
<% else %>

/* Create a table with  */
<table border= "1" style="width:100%">
  <tr>
    <td>Thumbnail of the recipe</td>
    <td>Title</td> 
    <td>Social rank of the recipe</td>
  </tr>
 <%= @recipes.each do |recipe| %>
  <tr class=<%= cycle('even','odd') %>>
  # Add href tags to your image and title.
  # Inside the image tag specify width and height of 100 for your images.
    <td><%=link_to(image_tag(recipe['image_url'], size: '100'), recipe['image_url']) %></td>
  #  Sanitize recipe titles displayed.
    <td><%=link_to(sanitize(recipe['title']), recipe['source_url']) %></td> 
    <td><%=recipe["social_rank"] %></td>
  </tr>
 <% end %>
</table>